<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
        </httpErrors>
    </system.webServer>
    <system.web>
        <customErrors>
            <error redirect="http://jing.wang:8888/404.html" statusCode="404" />
        </customErrors>
    </system.web>
</configuration>
